.about-us-hero-section {
  color: white;
  height: 100vh;
  position: relative;
}

.about-us-hero-section img {
  position: relative;
  height: 90vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}


.about-us-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0F0101D1;
  opacity: 0.75;
  z-index: 1;
}

.about-us-hero-content {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  white-space: nowrap;
}

.about-us-hero-content h1 {
  font-size: 5rem;
  font-weight: bold;
}

.about-us-hero-content h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: -10px;
}

.section {
  padding-top: 60px;
  color: white;
}

.section img {
  width: 100%;
  border-radius: 12px;
}

.section h2 {
  font-weight: 700;
  margin-bottom: 20px;
  color: #ffc600;
}

.section .sh2 {
  color: #59ccdd;
}

.section p {
  font-size: 1.1rem;
  line-height: 1.8;
}

.team-section {
  background-color: white;
}

.team-section .col-lg-3, .col-8{
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.team-card {
  perspective: 1000px;
  width: 250px;
  height: 300px;
  margin-bottom: 70px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s;
}

.team-card:hover .card-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.card-front {
  transform: rotateY(0deg);
}

.card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.name-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  padding: 12px;
  text-align: left;
  font-weight: 600;
  font-size: 1.2rem;
  letter-spacing: 4px;
}

.card-back {
  background: rgb(219, 219, 219);
  color: black;
  border: 3px solid #fb2576;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}





@media (max-width: 768px) {
  .about-us-hero-section img {
    height: 85vh;
  }

  /* .about-us-hero-overlay{
      height: 400px;
    } */

  .about-us-hero-content h1 {
    font-size: 2.5rem;
  }

  .about-us-hero-content h2 {
    font-size: 1.5rem;
  }
}